# ==================================================
# PYTHON
# ==================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd


# ==================================================
# VIRTUAL ENVIRONMENTS
# ==================================================

rag-env/
venv/
.venv/
env/


# ==================================================
# IDE / EDITOR
# ==================================================

.vscode/
.idea/


# ==================================================
# OPERATING SYSTEM
# ==================================================

.DS_Store
Thumbs.db


# ==================================================
# LOG FILES
# ==================================================

*.log


# ==================================================
# FAISS / VECTOR DATABASE
# ==================================================

vector_db/*
!vector_db/.gitkeep


# ==================================================
# TEMPORARY FILES
# ==================================================

*.tmp
*.temp
# ==================================================
# GENERATED EMBEDDINGS
# ==================================================
data/embeddings/
